* {
  margin: 0;
  padding: 0;
}

body {
  background: #f1f1f1;
  font-size: 16px;
  scroll-behavior: smooth;
  font-family: -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
}

a {
  text-decoration: none;
}

//Home Component

@keyframes opaque {
  0% {
    opacity: 0.1;
    transition: opacity 1s ease-out;
  }
}

@keyframes side-enter {
  0% {
    margin: 0%;
    transition: width 2s ease-out;
  }
}

@keyframes bottom-enter {
  0% {
    padding-bottom: 0;
    transition: padding-bottom 2s ease-out;
  }
}

@keyframes title-enter {
  0% {
    padding: 13% 15%;
    transition: padding 2s ease-in-out;
  }
}

.home-container {
  .home-container-full {
    animation: opaque 2s;
    width: 100%;
    height: 100vh;
    background-image: url(../images/Fluid.jpg);
    background-size: cover;
    background-blend-mode: difference;
  }
  .home-container-small {
    animation: opaque 2s;
    width: 100%;
    height: 90vh;
    transition: height 2s ease-out;
    background-image: url(../images/Fluid.jpg);
    background-size: cover;
    background-blend-mode: difference;
  }
  .home-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 13% 22%;

    h1 {
      color: rgb(218, 216, 216);
      animation: opaque 4s;
      animation: title-enter 2s;
      margin-bottom: 10%;
    }
  }
}
//Navbar

.navbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .spin {
    color: white;
    transition: transform 1s ease-in;
    transform: rotateZ(90deg);
    transform-origin: center;
  }
  .static {
    color: white;
  }
  .show ~ nav {
    visibility: visible;
    animation: opaque 3s;
  }
  button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 3rem;
    font-family: -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans";
  }
  button:focus {
    outline: none;
  }
  nav {
    padding-top: 5rem;
    visibility: hidden;
    position: fixed;
    ul {
      display: flex;
      justify-content: end;
      align-items: center;
      list-style-type: none;

      li {
        padding: 1rem 0.5rem;
        button {
          color: whitesmoke;
          background-blend-mode: difference;
          transition: color 0.5s ease-out;
          font-size: 1rem;
        }
        button:hover {
          color: rgb(182, 182, 182);
        }
      }
    }
  }
  nav:hover {
    visibility: visible;
  }
}

//Projects

.projects-container {
  animation: opaque 3s;
  .project-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 80vh;
    border-bottom: 1px solid rgb(189, 189, 189);
    margin: 0 2rem;
    .image-container {
      // position: relative;;
      padding: 0 1rem;
      width: 50%;

      .project-image {
        // position: absolute;
        // top: 20%;
        // left: 30%;
        animation: side-enter 2s;
        max-width: 55rem;
        margin: 0 20%;
        // transform: translate(5%, -50%);
        z-index: 1;
        transition: max-width 1s ease-in-out;
      }
      .project-image:hover {
        max-width: 57rem;
        // transition: max-width 1s ease-in-out;
      }
    }
    .description-container {
      animation: opaque 5s;
      animation: bottom-enter 2s;
      padding: 15rem;
      width: 50%;
      transition: padding-left 1s ease-in-out;
      h1 {
        margin-bottom: 3rem;
      }
      h4 {
        margin-bottom: 3rem;
      }
    }
    .description-container:hover {
      padding-left: 13rem;
    }
  }
}

// Contact

.contact-container {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .phone {
    display: flex;
    justify-content: center;
  }
  .email {
    display: flex;
    justify-content: center;
  }
}
