:root {
  /* Primary */
  --white: #f5f5f5;
  --night: #2b2b41; /* Text */
  --sunrise: #ff6962; /* Primary call to action color */
  /* Secondary */
  --dusk: #48527b; /* "Highlight" background color */
  --sky: #48c1fc; /* Secondary call to action color */
  /* Tertiary */
  --cloud: #e7e7ec; /* For borders, backgrounds */
  --sand: #f9f5f0; /* For subtle micro-interactions */
}
// border: 1px solid var(--cloud);

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ebebeb;
  font-size: 16px;
  font-family: -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  line-height: 1.6rem;

  letter-spacing: 0.05rem;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

@keyframes opaque {
  0% {
    opacity: 0.1;
    transition: opacity 3s ease-in-out;
    transition-delay: 2s;
  }
}

@keyframes side-enter {
  0% {
    padding: 0 50%;
    transition: padding 2s ease-in-out;
    transition-delay: 1s;
  }
}

@keyframes bottom-enter {
  0% {
    padding: 50% 0;
    transition: padding 2s ease-in-out;
    transition-delay: 2s;
  }
}

@keyframes title-enter {
  0% {
    padding: 13% 15%;
    transition: padding 2s ease-in-out;
    transition-delay: 2s;
  }
}

// .opaque {
//   animation: opaque 3s;
// }

.home-container {
  .home-container-full {
    animation: opaque 2s;
    // width: 100%;
    height: 100vh;
    background-image: url(../images/Fluid.jpg);
    background-size: cover;
  }
  .home-container-small {
    animation: opaque 2s;
    width: 100%;
    height: 84vh;
    transition: height 2s ease-out;
    background-image: url(../images/Fluid.jpg);
    background-size: cover;
  }
  .home-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 13% 0;
    // mix-blend-mode: difference;
    h1 {
      color: var(--white);
      animation: opaque 4s;
      animation: title-enter 2s;
      margin-bottom: 10%;
    }
    .grow {
      transition: transform 2s ease-out;
      transform: scale(1.2);
    }
  }
}

//Navbar

.navbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .spin {
    transition: transform 2s ease-out;
    transform: rotateZ(90deg) scale(0.8);
    transform-origin: center;
  }
  .show ~ nav {
    visibility: visible;
    animation: opaque 3s;
    top: 20px;
  }
  .show ~ nav ul {
    justify-content: flex-end;
  }
  .show ~ nav li {
    padding: 3rem;
    transition: padding 2s ease-out;
  }
  button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-family: -apple-system, Oxygen, Ubuntu, Cantarell, "Open Sans";
    padding-bottom: 5rem;
    h2 {
      img {
        width: 2rem;
      }
    }
  }
  button:focus {
    outline: none;
  }
  nav {
    visibility: hidden;
    ul {
      display: flex;
      list-style-type: none;
      justify-content: flex-start;

      li {
        padding: 0 1.5rem;
        button {
          color: whitesmoke;
          background-blend-mode: difference;
          transition: color 0.5s ease-out;
          font-size: 1.5rem;
        }
        button:hover {
          color: rgb(182, 182, 182);
        }
      }
    }
  }
}

//Projects

.projects-container {
  // .opaque {
  //   animation: opaque 3s;
  .project-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80vh;
    border-bottom: 1px solid rgb(189, 189, 189);
    margin: 0 2rem;
    .image-container {
      a {
        width: 2rem;
        .project-image {
          width: 55rem;
          margin: 0 auto;
          padding: 0;
          z-index: 1;
          transition: width 1s ease-in-out;
        }
        .project-image:hover {
          width: 57rem;
        }
      }
    }
    .description-container {
      width: 35rem;
      padding: 0 0.01rem;

      color: var(--night);
      h1 {
        margin-bottom: 3rem;
        color: var(--night);
      }
      h4 {
        margin-bottom: 3rem;
      }
      p {
        margin-bottom: 1.4rem;
      }
    }
  }
}

// About
.opaque {
  animation: opaque 3s;
  .about-container {
    height: 80vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    .picture img {
      width: 22rem;
    }
    .content {
      h1 {
        padding-bottom: 3rem;
      }
      p {
      }
    }
  }
}

// Contact

.contact-container {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 2rem;
  border-top: 1px solid rgb(189, 189, 189);
  .contact {
    display: flex;
    justify-content: center;
    padding-bottom: 0;
    transition: padding-bottom 0.5s ease-in-out;
  }
  .contact:hover {
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .home-container {
    .home-container-full {
    }
    .home-container-small {
      height: 50vh;
    }
    h1 {
      font-size: 100%;
    }
  }

  .navbar-container {
    padding: 0.5rem;
    .show ~ nav li {
      padding: 0.8rem;
      transition: padding 2s ease-out;
    }
    nav {
      ul {
        li {
          padding: 0.5rem;
          button {
            font-size: 1rem;
          }
        }
      }
    }
  }
  .projects-container {
    .project-container {
      flex-direction: column;
      .project-image {
        max-width: 18rem;
        margin: 0 auto;
      }
      .project-image:hover {
        width: 19rem;
      }
      .description-container {
        max-width: 18rem;
        text-align: center;
      }
    }
  }
  .about-container {
    flex-direction: column;
    .picture img {
      width: 16rem;
    }
  }
  .contact-container {
    flex-direction: column;
  }
}
